body {
	max-width: 1200px;
	margin: 0 auto;
}
.container {
	padding: 0 15px;
}
.gallons-per-inch {
	top: 15px;
}
.city-selector {
	padding: 20px 0 10px;
}
.barrel-span {
	font-style: italic;
 	font-size: 1.4em;
 	font-weight: 200;
}

#gallon-barrels {
	font-weight: 800;
}